In [52]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn import ensemble
import itertools
from sklearn.model_selection import train_test_split

pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

height has been deprecated.

In [4]:
data = pd.read_csv("bank-additional-full.csv", delimiter=";")

In [5]:
data.shape

(41188, 21)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [10]:
data.head(20)

    age          job   marital            education  default housing loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0    56    housemaid   married             basic.4y       no      no   no  telephone   may         mon       261         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
1    57     services   married          high.school  unknown      no   no  telephone   may         mon       149         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
2    37     services   married          high.school       no     yes   no  telephone   may         mon       226         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
3    40       admin.   married             basic.6y       no      no   no  telephone   may         mon       151         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
4    56     services   married          high.school       no      no  yes  telephone   may         mon       307         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
5    45     services   married             basic.9y  unknown      no   no  telephone   may         mon       198         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
6    59       admin.   married  professional.course       no      no   no  telephone   may         mon       139         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
7    41  blue-collar   married              unknown  unknown      no   no  telephone   may         mon       217         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
8    24   technician    single  professional.course       no     yes   no  telephone   may         mon       380         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
9    25     services    single          high.school       no     yes   no  telephone   may         mon        50         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
10   41  blue-collar   married              unknown  unknown      no   no  telephone   may         mon        55         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
11   25     services    single          high.school       no     yes   no  telephone   may         mon       222         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
12   29  blue-collar    single          high.school       no      no  yes  telephone   may         mon       137         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
13   57    housemaid  divorced             basic.4y       no     yes   no  telephone   may         mon       293         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
14   35  blue-collar   married             basic.6y       no     yes   no  telephone   may         mon       146         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
15   54      retired   married             basic.9y  unknown     yes  yes  telephone   may         mon       174         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
16   35  blue-collar   married             basic.6y       no     yes   no  telephone   may         mon       312         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
17   46  blue-collar   married             basic.6y  unknown     yes  yes  telephone   may         mon       440         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
18   50  blue-collar   married             basic.9y       no     yes  yes  telephone   may         mon       353         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no
19   39   management    single             basic.9y  unknown      no   no  telephone   may         mon       195         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  no

In [39]:
# Create Outcome
data.loc[data.y == "yes", "outcome"] = 1
data.loc[data.y == "no", "outcome"] = 0

x = pd.get_dummies(data[["loan","contact","day_of_week","poutcome","marital","education","default","month"]])
x["duration"] = data["duration"]
x["campaign"] = data["campaign"]
x["pdays"] = data["pdays"]
x["previous"] = data["previous"]
y = data["outcome"]

x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=22)

In [41]:
x.shape

(41188, 42)

In [42]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 42 columns):
loan_no                          41188 non-null uint8
loan_unknown                     41188 non-null uint8
loan_yes                         41188 non-null uint8
contact_cellular                 41188 non-null uint8
contact_telephone                41188 non-null uint8
day_of_week_fri                  41188 non-null uint8
day_of_week_mon                  41188 non-null uint8
day_of_week_thu                  41188 non-null uint8
day_of_week_tue                  41188 non-null uint8
day_of_week_wed                  41188 non-null uint8
poutcome_failure                 41188 non-null uint8
poutcome_nonexistent             41188 non-null uint8
poutcome_success                 41188 non-null uint8
marital_divorced                 41188 non-null uint8
marital_married                  41188 non-null uint8
marital_single                   41188 non-null uint8
marital_unknown                  41188 non-null uint8
education_basic.4y               41188 non-null uint8
education_basic.6y               41188 non-null uint8
education_basic.9y               41188 non-null uint8
education_high.school            41188 non-null uint8
education_illiterate             41188 non-null uint8
education_professional.course    41188 non-null uint8
education_university.degree      41188 non-null uint8
education_unknown                41188 non-null uint8
default_no                       41188 non-null uint8
default_unknown                  41188 non-null uint8
default_yes                      41188 non-null uint8
month_apr                        41188 non-null uint8
month_aug                        41188 non-null uint8
month_dec                        41188 non-null uint8
month_jul                        41188 non-null uint8
month_jun                        41188 non-null uint8
month_mar                        41188 non-null uint8
month_may                        41188 non-null uint8
month_nov                        41188 non-null uint8
month_oct                        41188 non-null uint8
month_sep                        41188 non-null uint8
duration                         41188 non-null int64
campaign                         41188 non-null int64
pdays                            41188 non-null int64
previous                         41188 non-null int64
dtypes: int64(4), uint8(38)
memory usage: 2.7 MB

In [17]:
data

       age            job   marital            education  default  housing     loan    contact month day_of_week  duration  campaign  pdays  previous     poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed    y  outcome
0       56      housemaid   married             basic.4y       no       no       no  telephone   may         mon       261         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
1       57       services   married          high.school  unknown       no       no  telephone   may         mon       149         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
2       37       services   married          high.school       no      yes       no  telephone   may         mon       226         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
3       40         admin.   married             basic.6y       no       no       no  telephone   may         mon       151         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
4       56       services   married          high.school       no       no      yes  telephone   may         mon       307         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
5       45       services   married             basic.9y  unknown       no       no  telephone   may         mon       198         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
6       59         admin.   married  professional.course       no       no       no  telephone   may         mon       139         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
7       41    blue-collar   married              unknown  unknown       no       no  telephone   may         mon       217         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
8       24     technician    single  professional.course       no      yes       no  telephone   may         mon       380         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
9       25       services    single          high.school       no      yes       no  telephone   may         mon        50         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
10      41    blue-collar   married              unknown  unknown       no       no  telephone   may         mon        55         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
11      25       services    single          high.school       no      yes       no  telephone   may         mon       222         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
12      29    blue-collar    single          high.school       no       no      yes  telephone   may         mon       137         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
13      57      housemaid  divorced             basic.4y       no      yes       no  telephone   may         mon       293         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
14      35    blue-collar   married             basic.6y       no      yes       no  telephone   may         mon       146         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
15      54        retired   married             basic.9y  unknown      yes      yes  telephone   may         mon       174         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
16      35    blue-collar   married             basic.6y       no      yes       no  telephone   may         mon       312         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
17      46    blue-collar   married             basic.6y  unknown      yes      yes  telephone   may         mon       440         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
18      50    blue-collar   married             basic.9y       no      yes      yes  telephone   may         mon       353         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
19      39     management    single             basic.9y  unknown       no       no  telephone   may         mon       195         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
20      30     unemployed   married          high.school       no       no       no  telephone   may         mon        38         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
21      55    blue-collar   married             basic.4y  unknown      yes       no  telephone   may         mon       262         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
22      55        retired    single          high.school       no      yes       no  telephone   may         mon       342         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
23      41     technician    single          high.school       no      yes       no  telephone   may         mon       181         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
24      37         admin.   married          high.school       no      yes       no  telephone   may         mon       172         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
25      35     technician   married    university.degree       no       no      yes  telephone   may         mon        99         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
26      59     technician   married              unknown       no      yes       no  telephone   may         mon        93         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
27      39  self-employed   married             basic.9y  unknown       no       no  telephone   may         mon       233         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
28      54     technician    single    university.degree  unknown       no       no  telephone   may         mon       255         2    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
29      55        unknown   married    university.degree  unknown  unknown  unknown  telephone   may         mon       362         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
30      46         admin.   married              unknown       no       no       no  telephone   may         mon       348         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
31      59     technician   married              unknown       no      yes       no  telephone   may         mon       386         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
32      49    blue-collar   married              unknown       no       no       no  telephone   may         mon        73         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
33      54     management   married             basic.4y  unknown      yes       no  telephone   may         mon       230         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
34      54    blue-collar  divorced             basic.4y       no       no       no  telephone   may         mon       208         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
35      55        unknown   married             basic.4y  unknown      yes       no  telephone   may         mon       336         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
36      34       services   married          high.school       no       no       no  telephone   may         mon       365         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
37      52     technician   married             basic.9y       no      yes       no  telephone   may         mon      1666         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
38      41         admin.   married    university.degree       no      yes       no  telephone   may         mon       577         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
39      56     technician   married             basic.4y       no      yes       no  telephone   may         mon       137         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
40      58     management   unknown    university.degree       no      yes       no  telephone   may         mon       366         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
41      32   entrepreneur   married          high.school       no      yes       no  telephone   may         mon       314         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
42      38         admin.    single  professional.course       no       no       no  telephone   may         mon       160         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
43      57         admin.   married    university.degree       no       no      yes  telephone   may         mon       212         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
44      44         admin.   married    university.degree  unknown      yes       no  telephone   may         mon       188         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
45      42     technician    single  professional.course  unknown       no       no  telephone   may         mon        22         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
46      57         admin.   married    university.degree       no      yes      yes  telephone   may         mon       616         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
47      40    blue-collar   married             basic.9y       no       no      yes  telephone   may         mon       178         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
48      35         admin.   married    university.degree       no      yes       no  telephone   may         mon       355         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
49      45    blue-collar   married             basic.9y       no      yes       no  telephone   may         mon       225         2    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
50      54         admin.   married          high.school       no       no       no  telephone   may         mon       160         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
51      39      housemaid   married             basic.4y       no       no      yes  telephone   may         mon       266         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
52      60         admin.   married          high.school       no       no       no  telephone   may         mon       253         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
53      53         admin.    single  professional.course       no       no       no  telephone   may         mon       179         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
54      55    blue-collar   married             basic.4y  unknown       no       no  telephone   may         mon       269         2    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
55      55     technician   married  professional.course  unknown      yes       no  telephone   may         mon       135         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
56      50     management   married    university.degree  unknown       no      yes  telephone   may         mon       161         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
57      45       services   married          high.school  unknown      yes       no  telephone   may         mon       787         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
58      55     unemployed   married  professional.course  unknown      yes      yes  telephone   may         mon       145         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
59      25     technician    single    university.degree       no      yes       no  telephone   may         mon       174         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
60      47   entrepreneur   married    university.degree  unknown       no       no  telephone   may         mon       449         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
61      51    blue-collar   married             basic.9y       no      yes       no  telephone   may         mon       812         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
62      42    blue-collar   married             basic.6y  unknown      yes       no  telephone   may         mon       164         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
63      42    blue-collar   married             basic.6y  unknown       no       no  telephone   may         mon       366         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
64      48         admin.   married          high.school       no       no       no  telephone   may         mon       357         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
65      37         admin.   married    university.degree       no       no       no  telephone   may         mon       232         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
66      44    blue-collar    single             basic.9y       no      yes       no  telephone   may         mon        91         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
67      33         admin.   married              unknown       no      yes       no  telephone   may         mon       273         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
68      56         admin.   married             basic.9y       no      yes       no  telephone   may         mon       158         2    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
69      44    blue-collar    single             basic.4y  unknown      yes      yes  telephone   may         mon       177         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
70      41     management   married             basic.6y       no       no       no  telephone   may         mon       200         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
71      44     management  divorced    university.degree       no      yes       no  telephone   may         mon       172         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
72      47         admin.   married    university.degree  unknown      yes       no  telephone   may         mon       176         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
73      57        unknown   married              unknown  unknown       no       no  telephone   may         mon       211         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
74      37         admin.   married    university.degree  unknown      yes       no  telephone   may         mon       214         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
75      41    blue-collar  divorced             basic.4y  unknown      yes       no  telephone   may         mon      1575         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0  yes      1.0
76      55     technician   married    university.degree       no       no       no  telephone   may         mon       349         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
77      33       services   married          high.school  unknown      yes       no  telephone   may         mon       337         2    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
78      55     management   married              unknown  unknown      yes       no  telephone   may         mon       272         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN
79      42    blue-collar   married             basic.9y  unknown       no       no  telephone   may         mon       208         1    999         0  nonexistent           1.1          93.994          -36.4      4.857       5191.0   no      NaN

In [48]:
def print_model_output(input_model):
    model=input_model
    model.fit(x_train,y_train)
    train_score=model.score(x_train,y_train)
    test_score=model.score(x_test,y_test)
    predict_test=model.predict(x_test)
    table_test=pd.crosstab(y_test, predict_test,margins=True)
    print("Train Score %0.6f" % (train_score))
    print("Test Score %0.6f" % (test_score)) 
    print("Cross-Val-Score:")
    print(cross_val_score(model,x_train,y_train))

In [50]:
#Random Forest
estimators= (10,100,500,1000)
for estimator in estimators:
    print("Estimator: %0.f" %(estimator))
    print_model_output(ensemble.RandomForestClassifier(n_estimators=1,max_features="auto"))

Estimator: 10
Train Score 0.952931
Test Score 0.877440
Cross-Val-Score:
[ 0.87084871  0.87792561  0.87567988]
Estimator: 100
Train Score 0.955618
Test Score 0.879674
Cross-Val-Score:
[ 0.87609245  0.87501214  0.87325175]
Estimator: 500
Train Score 0.953676
Test Score 0.876566
Cross-Val-Score:
[ 0.87337347  0.87714868  0.87373737]
Estimator: 1000
Train Score 0.955133
Test Score 0.871904
Cross-Val-Score:
[ 0.86832395  0.87365252  0.8769425 ]

In [53]:
print_model_output(KNeighborsClassifier())

Train Score 0.921660
Test Score 0.893755
Cross-Val-Score:
[ 0.89745582  0.89696028  0.8982129 ]

In [55]:
def boosted_model(loss,estimators):
    model = ensemble.GradientBoostingClassifier(loss=loss,n_estimators=estimators)
    return model

In [56]:
#Boosted Model
loss_types=("exponential","deviance")
estimators_list=(100,250,500)
for (loss,estimators) in itertools.product(loss_types,estimators_list):
    print(loss)
    print("Estimators: %0.f" % (estimators))
    print_model_output(boosted_model(loss,estimators))

exponential
Estimators: 100
Train Score 0.912920
Test Score 0.907449
Cross-Val-Score:
[ 0.90920567  0.90900262  0.91355866]
exponential
Estimators: 250
Train Score 0.918747
Test Score 0.907643
Cross-Val-Score:
[ 0.90852593  0.91007089  0.91297591]
exponential
Estimators: 500
Train Score 0.924509
Test Score 0.909003
Cross-Val-Score:
[ 0.91007963  0.90725454  0.91307304]
deviance
Estimators: 100
Train Score 0.914894
Test Score 0.908420
Cross-Val-Score:
[ 0.90920567  0.90793435  0.91278166]
deviance
Estimators: 250
Train Score 0.921790
Test Score 0.909391
Cross-Val-Score:
[ 0.91027384  0.90803147  0.91336441]
deviance
Estimators: 500
Train Score 0.928555
Test Score 0.909488
Cross-Val-Score:
[ 0.9112449   0.9082257   0.91355866]

In [58]:
#Logistic Regression
print_model_output(LogisticRegression(C=1e09,penalty="l2"))

Train Score 0.907514
Test Score 0.904147
Cross-Val-Score:
[ 0.90774908  0.90356414  0.90909091]

In [59]:
#Ridge Regression
print_model_output(LogisticRegression(C=1,penalty="l2"))

Train Score 0.907384
Test Score 0.904050
Cross-Val-Score:
[ 0.90765197  0.90404972  0.90879953]

In [61]:
#Lasso Regression
print_model_output(LogisticRegression(C=1,penalty="l1"))

Train Score 0.907384
Test Score 0.904244
Cross-Val-Score:
[ 0.90745776  0.90385549  0.90909091]